.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}
#cabecalho{
    height: 100%;
    width: 100%;
    background-color: rgb(73, 20, 220);
}
#contbase{
   height: 100%;
   width: 100%;
}